@use '../abstracts' as *;

.footer {
    position: relative;
    padding: 6rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;  

    &__content {
        width: 100%;
        
        &__logo {
            @include flex(center, center);
            margin-bottom: 3rem;

            &--logo {
                @include flex(center, center);
                font-size: 2rem;
                font-weight: 600;

                img {
                    margin-right: 1rem;
                    width: 5rem;
                }

            }
        }

        &__menus {

            &--menu {
                @include flex(center, space-evenly);
                margin-top: 5rem;

                font-size: 1.5rem;
                font-weight: 600;

                @include responsive(mobile) {
                    flex-direction: column;
                }
            }

            a {
                cursor: pointer;
            }
        }

    }

   
}